<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582704022815-9949o2kjlvppgfm12rfa06m8mfn1bsa6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582704022815-9949o2kjlvppgfm12rfa06m8mfn1bsa6</string>
	<key>API_KEY</key>
	<string>AIzaSyBIz4d64Sei_rztIEqyOGIM3zF7cjmmQ54</string>
	<key>GCM_SENDER_ID</key>
	<string>582704022815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leandrodiaz.ChatUI</string>
	<key>PROJECT_ID</key>
	<string>swiftuichat-3b12b</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuichat-3b12b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582704022815:ios:519e166619b90d25425c2a</string>
</dict>
</plist>